@use 'base';
header {
    // border: #a7ddf2 2px solid;
    .content {
        width: 80%;
        // border: #9e1d98 2px solid;
        // background-color: var(--secondary-color1);
        // background-image: radial-gradient(circle, var(--secondary-color1), var(--primary-color));
        position: relative;
        margin: auto;
        padding: 3%;
        .logo1 {
            max-width: base.rem(122);
            height: base.rem(96);
            background-image: url("../img/header/logo.png");
            background-size: cover;
            position: relative;
            margin: auto;
            margin-bottom: 3%;
        }
        .slideshow {
            // border: #dd53b4 2px solid;
            // width: 100%;
            // height: 500px;
            max-width: 60%;
            position: relative;
            margin: auto;
        }
        .item {
            img {
                border-radius: 7px;
                animation: zoom 1s ease;
                overflow: hidden;
            }
        }
        .dot {
            cursor: pointer;
            height: base.rem(13);
            width: base.rem(13);
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        /* khi được hover, active đổi màu nền */
        .active,
        .dot:hover {
            background-color: #717171;
        }
        .hide {
            display: none;
        }
        .active {
            display: block;
        }
        .fade1 {
            animation-name: fade;
            animation-duration: 1.5s;
            overflow: hidden;
        }
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        @keyframes zoom {
            0% {
                // transform: scale(2);
                // transform: translate3d(50px);
                margin-left: 10%;
                opacity: 0.8
            }
            100% {
                margin-left: 0%;
                // transform: scale(1);
                // transform: scaleX(1);
                // transform: translate3d(1000px);
                opacity: 1
            }
        }
    }
}

#gioi-thieu {
    .hang-camera {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // border-bottom: 1px gray solid;
        .size1 {
            width: 20%;
            height: base.rem(105);
            background-image: url("../img/hang-camera/dahua-lg.png");
            background-size: cover;
        }
        .size2 {
            width: 20%;
            height: base.rem(125);
            background-image: url("../img/hang-camera/ezviz-lg.png");
            background-size: cover;
            object-fit: cover;
            margin-top: -1%;
        }
        .size3 {
            width: base.rem(310);
            height: base.rem(90);
            margin-top: 1%;
            ;
            background-image: url("../img/hang-camera/hikvision-removebg-preview.png");
            background-size: cover;
        }
        .size4 {
            width: 15%;
            height: base.rem(160);
            background-image: url("../img/hang-camera/hilook-lg.png");
            background-size: cover;
            margin-top: -3%;
        }
    }
    .gioi-thieu-text {
        text-align: center;
        // margin: 0 auto;
        h2 {
            margin: 3%;
            color: deepskyblue;
        }
        p {
            width: 60%;
            font-size: .9rem;
            background-color: var(--secondary-color3);
            margin: 2% auto;
        }
    }
}

#du-an {
    padding: 5%;
    h4 {
        color: deepskyblue;
    }
    //chứa toàn bô thông tin dự án đã làm, khoảng 8 cái
    .du-an__list {
        // border: 2px tomato solid;
        position: relative;
        margin: auto;
        width: 80%;
        .list-content {
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            .list-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                // margin-top: 3%;
                .list-img {
                    margin: 3%;
                    width: 25%;
                    img {
                        border-radius: 7px;
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }
                .list-text {
                    height: base.rem(150);
                    width: 40%;
                    margin-top: 5%;
                    p {
                        border-radius: 7px;
                        padding: 2%;
                        background-color: var(--secondary-color3);
                    }
                }
            }
            .reverse {
                flex-direction: row-reverse;
            }
        }
    }
}